<!DOCTYPE html>
<html>
  <head>
    {% csrf_token %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/graph.css">
  </head>
  <body>

    <div id="map"></div>
    <div id="tips_layout">
      <div id="tips_window">
        <div id="close_tips_window">X</div>
        <div id="tips_content">
          <p><b>Right click</b> to inspect node</p>
          <p><b>Scroll</b> for zooming</p>
          <p><b>Drag</b> to navigate</p>
        </div>
      </div>
    </div>
    <script src="../static/graph.js"></script>

    <!-- NOTE: The 'key' parameter should be replaced with your Google Maps API Key. -->
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCv6Ukd8Mfpoi_2eTI47mCgwJ6FijwZb88"></script>
    
  </body>
</html>