html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
}

.gmnoprint {
  display: none;
}

a[href*='google.com'] {
  display: none !important;
}

#tips_layout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50000000;
}

#tips_window{
  position: absolute;
  width: 80%;
  max-width: 800px;
/*  height: 500px;*/  
  background-color: #fff;
  border-radius: 10px;
  /*border: 2.5px solid #aaa;*/

  padding: 15px;
  font-size: 15pt;
  text-align: center;
  color: #222;

}

#close_tips_window{
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

#tips_content{

}
