html {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	color: #eee;
	font-family: sans-serif;
}

#video_backgroud {
	position: fixed;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	z-index: -1;
	background-image: url("../static/fractal.jpg");
}

#layout {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;	
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}

.centered_container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

#title {
	font-size: 25pt;
}

#desc {
	width: 500px;
	text-align: center;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-items: center;
	margin-top: 20vh;
}

.nav_button {
	border-radius: 5px;
	padding: 15px 30px 15px 30px;
	margin: 10px;
	background-color: #fff;
	transition: transform linear 0.1s;
    color: #111;
    text-decoration: none;
}

.nav_button_activated:hover {
	transform: translate(0%,2%);
    color: #aaa; 
    text-decoration: none; 
    cursor: pointer; 

}

.nav_button_deactivated{
	background-color: #aaa;
	pointer-events: none;
}


@media screen and (max-width: 800px){
	nav {
		flex-direction: column;
	}
}